/* ======= variables ======= */

// colors
$c-white:               #fff;
$c-black:               #000;
$c-gray:                #f2f2f2;

// typography
$font-size-xs:          10px;
$font-size-s:           14px;
$font-size-m:           16px;
$font-size-base:        18px;
$font-size-lg:          20px;
$font-family-base:      Arial, sans-serif;

$line-height-base:      1.33;

$border-radius-base:    2px;

$gutter-width:          16px;

// breakpoints
$breakpoints: (
  phone: 320,
  phone-max: 767,
  tablet: 768,
  desktop: 992,
  desktop-large: 1200
);

@mixin phone {
  @media (max-width: map-get($breakpoints, phone-max) + px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, tablet) + px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, desktop) + px) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: map-get($breakpoints, desktop-large) + px) {
    @content;
  }
}

//reset
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: $c-gray;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-width: map-get($breakpoints, phone) + px;
  min-height: 100%;
  display: flex;
 }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  padding: 0 $gutter-width;
  margin: 0 auto;

  @include tablet {
    max-width: 740px;
  }

  @include desktop() {
    max-width: 960px;
  }

  @include desktop-large {
    max-width: 1140px;
    padding: 0 25px;
  }
}

.header {
   background-color: $c-black;
   padding: 10px 0;
  &-logo {
    color: $c-white;
    font-size: 20px;
    font-weight: bold;
  }
}

main {
   margin-bottom: 30px;
   flex: 1 0 auto;
}

.news {

  &-categories-wrapper {
    position: relative;
    margin: 30px 0;

    @include phone() {
      background-color: $c-white;
      overflow: hidden;
      margin-right: -16px;
      margin-left: -16px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: $gutter-width;
        height: 41px;
        //background: rgba(242,242,242,0.7);
        background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
        z-index: 1;
        right: 0;
      }
    }


  }


  &-categories {
    display: flex;

    @include phone() {
      overflow-x: auto;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }

    @include tablet() {
      flex-wrap: wrap;
    }
  }

  &-category {
    padding: 15px 25px;
    border-radius: 999px;
    cursor: pointer;
    font-size: $font-size-m;
    position: relative;

    @include phone() {
      & + & {
        margin-left: 10px;
      }
    }

    @include tablet {
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: $c-white;
    }
  }

  &-radio {
    position: absolute;
    visibility: hidden;

    &:checked {
      + .news-category-value {
        font-weight: bold;
      }
    }
  }

  &-wrapper {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet() {
      margin: 0 -10px;
    }
  }

  &-block {
    border-radius: $border-radius-base;
    background-color: $c-white;
    position: relative;
    flex: 1 0 100%;
    margin: 0 0 25px;

    @include tablet() {
      flex: 1 0 45%;
      margin: 0 10px 25px;
    }

    @include desktop() {
      flex: 1 0 30%;
    }
  }

  &-img-wrapper {
    height: 0;
    overflow: hidden;
    padding-top: 65%;
    position: relative;
    border-radius: $border-radius-base $border-radius-base 0 0;
    background-color: darken($c-gray, 20%);
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &-content {
    padding: 25px 30px 30px;
  }

  &-title {
    color: $c-black;
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: $font-size-lg;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      z-index: 1;
    }
  }

  &-description {
    font-size: $font-size-s;
  }
}

.footer {
  background-color: $c-black;
  padding: 15px 0;
  flex: 0 0 auto;

  &-copyright {
    font-size: $font-size-xs;
    color: $c-white;
  }
}